[mysqld]
max_allowed_packet=256M
max_connect_errors = 100
skip_external_locking
skip_name_resolve=1
interactive_timeout = 300
connect_timeout		= 5
wait_timeout		= 60
thread_stack = 256K
join_buffer_size =256M
read_buffer_size = 32M
read_rnd_buffer_size =32M
sort_buffer_size = 32M
thread_cache_size = 256
table_cache = 16000
table_open_cache =16000
table_definition_cache = 2048
query_cache_type = 0
query_cache_size = 0
query_cache_limit =16M
open_files_limit = 131072
query_cache_min_res_unit=512

# InnoDB Settings
default_storage_engine = InnoDB
innodb_buffer_pool_instances =10 # Use 1 instance per 1GB of InnoDB pool size
innodb_buffer_pool_size = 10G # Use up to 70-80% of RAM
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
innodb_log_buffer_size = 1799M
innodb_log_file_size = 1G
innodb_stats_on_metadata = 0

innodb_read_io_threads = 64
innodb_write_io_threads = 64

# Table Settings
max_heap_table_size =1024M
tmp_table_size =1024M

[mysqldump]
quick
quote_names
max_allowed_packet =256M
